<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Country</title>
</head>
<body>

     <table>
          <tr>
              <th>Alpha 2 Code</th>
              <th>Name</th>
              <th>Capital</th>
              <th>Population</th>
              <th>Timezones</th>
              <th>Flag</th>
              <th>Language List</th>
              <th>Language List</th>

          </tr>

          <tr>
              <td>{{individual_country.alpha2code}}</td>
              <td>{{individual_country.name}}</td>
              <td>{{individual_country.capital}}</td>
              <td>{{individual_country.population}}</td>
              <td>{{individual_country.timezones}}</td>
              <td>{{individual_country.flag}}</td>
              <td>{{individual_country.language_list}}</td>
              <td>{{individual_country.neighbour_list}}</td>
          </tr>

     </table>



</body>
</html>