

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-sm bg-light">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-link">
                        <label>Hello, {{ request.user }}</label>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-link">
                        <a href="/admin">Administrator</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <div class="container">
                <div class="row justify-content-center">
                    <h1 align="">Welcome to the Insightly Country Project</h1>
                </div>
            </div>
            <div class="container">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://restcountries.eu/data/bgd.svg" class="mx-auto d-block" width="1000" height="600" alt="Zimbabwe">
                        </div>
                        <div class="carousel-item">
                            <img src="https://restcountries.eu/data/can.svg" class="mx-auto d-block" width="1000" height="600" alt="Singapore">
                        </div>
                        <div class="carousel-item">
                            <img src="https://restcountries.eu/data/bfa.svg" class="mx-auto d-block" width="1000" height="600" alt="Burkina Faso">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
                <br><br>
            </div>
            <div class="container">
                <div class="container">

                    <ul>
                        <li>
                            <h5><a href="country">List of Countries</a></h5>
                            <p>Fetch all data from Sqlite Database and display them in table</p>
                        </li>
                        <li>
                            <h5><a href="country/create">Create New Country</a></h5>
                            <p>Create a new Country Entry</p>
                        </li>
                        <li>
                            <h5><a href="reset">Load or Reset Database</a></h5>
                            <p>Fetch all data from <a href="https://restcountries.eu/rest/v2/all">Country API</a> and load them in the Sqlite Database</p>
                        </li>
                    </ul>

                    </div>
            </div>
        </div>
    </body>
</html>

